<app-header></app-header>

<!--<div style="margin: 10px">
  <input class="form-control" type="text" (input)="onUpdateName($event)" />
  <input class="form-control" type="text" [(ngModel)]="name" />
  <h1>Name : {{ name }} is {{ status }}</h1>
  <input class="form-control" type="text" [(ngModel)]="name" />
  <button
    class="btn btn-primary"
    [disabled]="isDisabled"
    (click)="onButtonClicked()"
  >
    click {{ isDisabled }}
  </button>
  <p>{{ title }}</p>
</div>
<app-exercice></app-exercice>-->
